
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<h1 style="text-align: center;">Events#index</h1>
<br>
<div class="row">
  <div class="col-sm-6">
    <div id='calendar'></div>
  </div>
  <div class="col-sm-6">
    <div class="event-description-section">
        <table class="table order-details-table">
          <tbody id="insert_here">
          </tbody>
        </table>
    </div>
  </div>
</div>
  
<style type="text/css">

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .fc-list-item-title a:hover {color: red; text-decoration:underline;}
.fc-event-time,
.fc-event-title {
    padding: 0 1px;
    float: left;
    clear: none;
    margin-right: 10px;
    
}
.custom-class:hover{
  color: green;
}
.cat{
      height: 100px;
    }
</style>
<script type="text/javascript">
		$(document).ready(function() {
       
				$('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'listDay,agendaWeek'
          },

          // customize the button names,
          // otherwise they'd all just say "list"
          views: {
            listDay: { buttonText: 'list day' },
            listWeek: { buttonText: 'list week' }
          },

          defaultView: 'listDay',
          defaultDate: '2019-01-03',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          events: [
            <% @data.each do |f| %>
              {
                title: '<%= f[:name]%>',
                start: '<%= f[:start_time] %>',
                end: ' <%= f[:end_time] %>',
                description: 'first description',
                addStar: "star",
                addNote: "Notes",
                url: "events"
              },

            <% end %>
          ],
          eventRender: function(event, element) { 
          // element.find('.fc-list-item-title').append(event.description); 
          },
          eventClick: function(event,calEvent, jsEvent, view) {

              $(".fc-list-item").click(function(event, calEvent, jsEvent, view){
                if (this.querySelector('.cat') == null){
                  var slot_time = $(this)[0].querySelector(".fc-list-item-time").innerHTML
                  var star = $(this)[0].querySelector(".custom-class").innerHTML;
                  var name = $(this)[0].childNodes[4].querySelector('a').innerHTML;

                  $(this).append('<div class="cat">Hiii</div>');
                  
                  this.querySelector('.cat').append(slot_time + star + name)
                  // debugger
                  this.querySelector('.cat').style.color='red';
                }
                else{
                  this.querySelector('.cat').remove();
                  // $(this).append('<div class="cat">Some stuff</div>')
                  // this.querySelector('.cat').style.color='red';
                }
              });
          }
        });

			});
</script>