
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<h1 style="text-align: center;">Events#index</h1>
<br>
<div class="row">
  <div class="col-sm-6">
    <div id='calendar'></div>
  </div>
  <div class="col-sm-6">
    <div class="event-description-section">
        <table class="table order-details-table">
          <tbody id="insert_here">
          </tbody>
        </table>
    </div>
  </div>
</div>
  
<style type="text/css">

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .fc-list-item-title a:hover {color: red; text-decoration:underline;}
.fc-event-time,
.fc-event-title {
    padding: 0 1px;
    float: left;
    clear: none;
    margin-right: 10px;
    
}
.custom-class:hover{
  color: green;
}
.cat{
  height: 100px;
}
.slide-down{
  text-align: right;
}
.fa-arrow-down{
  color: skyblue;
}
 .fa-sticky-note{
  color: gold;
 }
</style>
<script type="text/javascript">
		$(document).ready(function() {
       
				$('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'listDay,agendaWeek'
          },

          // customize the button names,
          // otherwise they'd all just say "list"
          views: {
            listDay: { buttonText: 'list day' },
            listWeek: { buttonText: 'list week' }
          },

          defaultView: 'listDay',
          defaultDate: '2019-01-03',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          events: [
            <% @data.each do |f| %>
              {
                title: '<%= f[:name]%>',
                start: '<%= f[:start_time] %>',
                end: ' <%= f[:end_time] %>',
                description: 'first description',
                addStar: "asterisk",
                addNote: "Notes",
              },

            <% end %>
          ],
          eventRender: function(event, element) { 
            // debugger
          element.find('.session-color').prepend("<i class='fa fa-star'></i>");
          element.find('.notes-icon').prepend("<i class='fa fa-sticky-note'></i>");
          element.find('.slide-down').prepend("<i class='fa  fa-arrow-down'></i>");
          },
          eventClick: function(event,calEvent, jsEvent, view) {
              $(".fc-list-item").click(function(event, calEvent, jsEvent, view){
                 
                var first_name = this.nextElementSibling
                if ( !first_name || first_name.className == "fc-list-item"){
                  var slot_time = $(this)[0].querySelector(".fc-list-item-time").innerHTML
                  // var star = $(this)[0].querySelector(".custom-class").innerHTML;
                  var name = $(this)[0].childNodes[4].querySelector('a').innerHTML;
                 
                  $(this).after('<div class="cat"></div>');
                  $(this).after('<div class="mat"></div>');
                  
                  $('.cat').append(slot_time);
                  $('.mat').append(name);
                }
                else{
                  $('.cat').remove();
                  $('.mat').remove();
                }
              });
          }
          
        });
         $(".fc-right").append('<select class="select_month"><option value="">Select Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mrch</option><option value="4">Aprl</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>');
  
   $(".select_month").on("change", function(event) {
   $('#calendar').fullCalendar('changeView', 'month', this.value);
   $('#calendar').fullCalendar('gotoDate', "2018-"+this.value+"-1");
   });
			});
</script>